# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 70410603fd2024b1b117ba85b6ca48c6e4be21f4d993ec5f0dc6dcaf4907cbfb065b72a479404bd5d48b7a4217fd1efcd28918ab9bb205d09fa67d3cb63764d1

test:
  secret_key_base: 9a0ef31af26f17330d46c616751c852942725d813a2329fe545b95fc1e1c6ae99c868b9a65ba1c1ba8dcc90e8dcb318ed33a0d5aaa9f20e399006acb9dd82b21

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
